* {
    box-sizing: border-box;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/*-----------------HEADER-------------------*/
header {
    flex: ;
    background-color: lightskyblue;
} 
header ul {
    display: flex;
    list-style: none;
}
header ul li {
    float: left;
    width: 20%;
    text-align: center;
    justify-content: space-between;
    border-right: 1px solid black;
   
}
header ul ::after {
    content: ;
    display: table;
    clear: both;
}
header a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
header a:hover {
    color: orange;
    border-bottom: 2px solid gold;

}
.sous {
    display: none;
    box-shadow: 0px 1px 2px #ccc;
    background-color: white;
}
ul li:hover .sous {
    display: block;
}
.sous li {
    float: none;
    width: 100%;
    text-align: left;
}
.sous a {
    padding: 10px;
    border-bottom: none;
}
.sous a:hover {
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.sous {
    display: none;
    box-shadow: 0px 1px 2px #ccc;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

/*-----------------main-------------------*/
main {
    flex: 4;
    padding: 10px 35px;
    display: flex;
}

aside{
    flex: 1;
    margin-right: 15px;
    padding: 10px;
}
aside div p {
    border: 1px solid green;
    background-color: greenyellow;

}
article {
    flex: 3;
    padding: 10px;
 }
#paragraphe{
    width: 400px;
    height: 230px;
    position: relative;
    left: 200px;
} 
#paragraphe ul li {
    list-style: none;
    padding: 10px;
    
}
#paragraphe ul li a {
    color: blue;
    text-decoration: none;
    font-weight: bold;

    
}

footer {
    flex: 1;
    position: fixed;
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    
}
h2 {
    background-color: rgb(203, 229, 248);
    color: green;
}

